
name: Build and Push to ACR

on:
  workflow_dispatch: # Isse tum manually GitHub se trigger kar sakte ho

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: netflix
      IMAGE_TAG: v1
      ACR_NAME: acrakspatil001
      ACR_LOGIN_SERVER: acrakspatil001.azurecr.io

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: de9c82cd-4b5f-4bdb-99d8-6adff69cd1e6
          tenant-id: 2331a157-2453-4764-b4f8-1b42565f54b1
          subscription-id: e6d6e869-3719-43d3-bfe3-49f5ef40b3f7

      - name: Log in to ACR
        run: |
          az acr login --name $ACR_NAME

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag Docker Image for ACR
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image to ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
